body{
    margin:100px 300px 100px 300px;
    background-color:#BEBEBE;
}



.header {
    min-height: 100vh;
    width: 100%;
    background-color:#FFFFFF;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
    border-radius: 10px;
}

nav {
    font-family: 'Cabin', sans-serif;
    margin: 20px;
    display: flex;
    padding: 7% 5%;
    margin: 0 50px 0 50px;
    justify-content: space-between;
    align-items: center;
    
}

nav .ben{
    width:150px;
    text-decoration: none;
    font-size: 25px;
    
}

nav li.ben {
    list-style-type: none;
}

.nav-links {
    flex: 1;
    text-align: right;
    
    
}

.nav-links li{
    margin-top: 10px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;    
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    
    
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}




.design h1{
    font-size: 60px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 50px;
    margin-left: 120px;
}

.design p{
    text-align: left;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 120px;
    color: gray;
    
}

.design img {
    margin-left: 800px;
    margin-top: -430px;
}

 .nav-links2 li , ul {
    margin-left: 45px;
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-links2 a{
    text-decoration: none;
     color: black;
}

.nav-links2 ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}
 .nav-links2 ul li:hover::after {
    width: 100%;
}


.our h1{
    font-size: 60px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 50px;
    margin-left: 880px;
    margin-top: 200px;
}

.our p{
    text-align: left;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: gray;
    
}

.our{
    font-family: 'Ubuntu', sans-serif;
}

.row{
   margin: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #DEDEF8;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px ;
}

.course-col:hover{
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
}


.our img{
    margin-top: -250px;
    margin-left: 50px;
}